@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
.screen-mode {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #f5f5f5;
  width: 80px;
  height: 40px;
  border-radius: 50px;
}
.screen-mode span {
  display: flex;
  background-color: #d0649c;
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
  transition: 0.5s;
}
.screen-mode:hover {
  cursor: pointer;
  background-color: #e5e5e5;
}
.screen-mode:hover span {
  scale: 1.05;
}
.screen-mode:active {
  background-color: #f5f5f5;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  width: 40px;
  height: 40px;
  border: 0.5px solid #f5f5f5;
  border-radius: 5px;
}
.menu-toggle span {
  display: block;
  background-color: #f5f5f5;
  width: 20px;
  height: 1.5px;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: #d0649c;
  height: 64px;
  padding: 10px 20px;
  z-index: 1;
  transition: 0.5s;
  align-items: center;
}
header h1 {
  display: inline-block;
  background-image: url("./lightLogo.webp");
  width: 65px;
  height: 50px;
  margin-left: 10rem;
  background-size: contain;
}
header ul {
  display: flex;
}
header ul li {
  transition: 0.5s;
  margin-left: 10px;
  color: #f5f5f5;
  list-style: none;
  font-weight: 600;
}
header ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}
header ul li a {
  text-decoration: none;
  color: #f5f5f5;
}

.screen-mode {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #f5f5f5;
  width: 80px;
  height: 40px;
  border-radius: 50px;
}
.screen-mode span {
  display: flex;
  background-color: #d0649c;
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
  transition: 0.5s;
}
.screen-mode:hover {
  cursor: pointer;
  background-color: #e5e5e5;
}
.screen-mode:hover span {
  scale: 1.05;
}
.screen-mode:active {
  background-color: #f5f5f5;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  width: 40px;
  height: 40px;
  border: 0.5px solid #f5f5f5;
  border-radius: 5px;
}
.menu-toggle span {
  display: block;
  background-color: #f5f5f5;
  width: 20px;
  height: 1.5px;
}

aside {
  background-color: #e5e5e5;
  width: 20%;
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 64px;
}
aside section {
  display: none;
  justify-content: space-between;
  margin-bottom: 20px;
}
aside section .screen-mode {
  background-color: #d0649c;
}
aside section .screen-mode:hover {
  background-color: #d0649c;
}
aside section .screen-mode span {
  background-color: #f5f5f5;
}
aside section .menu-toggle {
  display: flex;
  justify-content: center;
  border: 0.5px solid #252525;
}
aside section .menu-toggle span {
  width: 25px;
  background-color: #252525;
}
aside section .menu-toggle span:first-child {
  transform: translateY(0.5px) rotate(45deg);
}
aside section .menu-toggle span:last-child {
  transform: translateY(-0.5px) rotate(-45deg);
}
aside nav {
  display: none;
}
aside nav a {
  text-decoration: none;
  color: #1e1e1e;
}
aside li {
  font-size: 1.1rem;
  font-weight: 600;
  list-style: none;
  padding: 10px;
  margin-bottom: 10px;
}
aside li:hover {
  cursor: pointer;
  background-color: #f5f5f5;
  border-radius: 8px;
  text-decoration: underline;
}

main {
  width: 80%;
  margin-left: 20%;
  padding: 125px 100px 50px 100px;
  font-size: 1.1rem;
}
main section {
  margin-bottom: 75px;
}
main h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 25px;
}
main h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
main p {
  line-height: 1.6;
  margin-bottom: 1.25rem;
}
main ul {
  margin-left: 1.5rem;
  margin-bottom: 1.25rem;
}
main li {
  margin-bottom: 0.5rem;
}

footer {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 1;
  background-color: #d0649c;
  color: #f5f5f5;
  padding: 3rem;
}
footer h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
footer li {
  list-style: none;
  margin-left: 0.5rem;
}
footer li a {
  color: #f5f5f5;
  text-decoration: none;
  margin-bottom: 5px;
}
footer li a:hover {
  text-decoration: underline;
  font-weight: 500;
}
footer h6 {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.participante {
  display: flex;
  flex-direction: column;
  background-color: #d0649c;
  padding: 20px;
  border: 1px solid #1e1e1e;
  border-radius: 20px;
  margin-top: 25px;
}
.participante .social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.participante .foto-perfil {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border-radius: 15px;
}
.participante .redes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.participante .redes a {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-size: cover;
}
.participante .redes a.link-linkedin {
  border-radius: 5px;
  background-image: url("/linkedinLight.webp");
}
.participante .redes a.link-github {
  background-image: url("/githubLight.webp");
  image-rendering: pixelated;
}
.participante .descricao-participante {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
}
.participante .descricao-participante .nome {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.participante .descricao-participante .participacao {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}
.participante .descricao-participante p {
  font-size: 15px;
  margin: 0;
}

.artigos {
  display: flex;
  margin-bottom: 50px;
}
.artigos a {
  display: flex;
  width: 100%;
  text-decoration: none;
}
.artigos a .imagem-artigo {
  width: 50%;
  height: 300px;
  background-color: #ddd;
  border-radius: 20px;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.1450980392);
  background-size: cover;
  background-position: center;
}
.artigos a .imagem-artigo#artigo1 {
  background-image: url("/artigo1.webp");
}
.artigos a .imagem-artigo#artigo2 {
  background-image: url("/artigo2.webp");
}
.artigos a .informacoes-artigo {
  width: 50%;
  padding: 20px 30px;
  color: #1e1e1e;
}
.artigos a .informacoes-artigo h4 {
  font-size: 30px;
}

.code-part {
  background: #282a36;
  border-radius: 20px;
  margin-bottom: 20px;
}
.code-part .code-header {
  background: #23242f;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 25px;
  border-radius: 20px 20px 0 0;
}
.code-part .code-header .code-language {
  color: #f5f5f5;
  font-size: 20px;
  font-weight: 200;
  margin: 0;
}
.code-part .code-header .fullscreen-button {
  background: transparent;
  padding: 2px 2px 0 2px;
  border-radius: 5px;
  border: none;
  transition: 0.5s;
}
.code-part .code-header .fullscreen-button:hover {
  background-color: #282a36;
}
.code-part .code-header .fullscreen-button img {
  width: 30px;
}
.code-part .code {
  padding: 15px 25px;
}
.code-part .code ul {
  margin: 0;
}
.code-part .code ul ul {
  margin-left: 20px;
}
.code-part .code ul li {
  list-style: none;
  color: #f5f5f5;
  font-weight: 300;
}
.code-part .code ul li span.red {
  color: #c05555;
}
.code-part .code ul li span.green {
  color: #50fa7b;
}
.code-part .code ul li span.blue {
  color: #8be9fd;
}
.code-part .code ul li span.yellow {
  color: #e5ff00;
}
.code-part .code ul li span.pink {
  color: #d0649c;
}
.code-part.full {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.code-part.full .code-header {
  border-radius: 0;
  padding: 20px;
}
.code-part.full .code {
  padding: 20px;
}

#root.dark header {
  background-color: #6e2d91;
}
#root.dark header .screen-mode {
  background-color: #1e1e1e;
}
#root.dark header .screen-mode span {
  background-color: #6e2d91;
  left: 55%;
}
#root.dark header .screen-mode:hover {
  background-color: #252525;
}
#root.dark header .screen-mode:active {
  background-color: #1e1e1e;
}
#root.dark header h1 {
  width: 67px;
  background-image: url("./darkLogo.webp");
  background-size: cover;
}
#root.dark header ul li {
  color: #1e1e1e;
}
#root.dark main {
  background-color: #252525;
  color: #e5e5e5;
}
#root.dark aside {
  background-color: #1e1e1e;
}
#root.dark aside nav ul li a {
  color: #f5f5f5;
}
#root.dark aside .screen-mode {
  background-color: #6e2d91;
}
#root.dark aside .screen-mode:hover {
  background-color: #6e2d91;
}
#root.dark aside .screen-mode span {
  background-color: #1e1e1e;
}
#root.dark aside li {
  color: #e5e5e5;
}
#root.dark aside li:hover {
  background-color: #252525;
}
#root.dark aside .menu-toggle {
  border: 0.5px solid #f5f5f5;
}
#root.dark aside .menu-toggle span {
  background-color: #f5f5f5;
}
#root.dark footer {
  background-color: #6e2d91;
  color: #f5f5f5;
}
#root.dark footer a {
  color: #f5f5f5;
}
#root.dark .participante {
  background-color: #6e2d91;
  border: 1px solid #e5e5e5;
}
#root.dark .participante .link-linkedin {
  background-image: url("/linkedinDark.webp");
}
#root.dark .participante .link-github {
  background-image: url("/githubDark.webp");
}
#root.dark .artigos .informacoes-artigo {
  color: #f5f5f5;
}

@media (max-width: 768px) {
  header {
    z-index: 0;
  }
  header .screen-mode {
    display: none;
  }
  header h1 {
    margin: 0;
  }
  header ul {
    display: none;
  }
  header .menu-toggle {
    display: flex;
  }
  aside {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
  }
  aside section {
    display: flex;
  }
  aside nav {
    display: flex;
    margin: 10px 0;
  }
  aside nav ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  main {
    width: 100%;
    margin: 0;
    padding: 100px 50px;
    font-size: 0.8rem;
  }
  main section {
    margin-bottom: 50px;
  }
  main h2 {
    font-size: 1.8rem;
  }
  main h3 {
    font-size: 1.5rem;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  footer section {
    margin-bottom: 3rem;
  }
  .code-part {
    border-radius: 15px;
  }
  .code-part .code-header {
    height: 30px;
    padding: 10px 15px;
  }
  .code-part .code-header .code-language {
    font-size: 0.85rem;
  }
  .code-part .code-header .fullscreen-button img {
    width: 20px;
  }
  .code-part .code {
    padding: 15px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

#root {
  background-color: #f5f5f5;
  transition: 0.5s;
}
#root.dark {
  background-color: #252525;
}

.exemplo-pastas {
  width: 200px;
  margin-bottom: 15px;
}

/*# sourceMappingURL=index.css.map */
