@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: #d0649c;
  height: 64px;
  padding: 10px 20px;
  z-index: 1;
  transition: 0.5s;
  align-items: center;
}
header .screen-mode {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #f5f5f5;
  width: 80px;
  height: 40px;
  border-radius: 50px;
}
header .screen-mode span {
  display: flex;
  background-color: #d0649c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.5s;
}
header .screen-mode:hover {
  cursor: pointer;
  background-color: #e5e5e5;
}
header .screen-mode:hover span {
  scale: 1.05;
}
header .screen-mode:active {
  background-color: #f5f5f5;
}
header h1 {
  display: inline-block;
  background-image: url("../../public/assets/lightLogo.webp");
  width: 65px;
  height: 50px;
  margin-left: 10rem;
  background-size: contain;
}
header ul {
  display: flex;
}
header ul li {
  transition: 0.5s;
  margin-left: 10px;
  color: #f5f5f5;
  list-style: none;
  font-weight: 600;
}
header ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}
header.dark {
  background-color: #6e2d91;
}
header.dark .screen-mode {
  background-color: #1e1e1e;
  justify-content: right;
}
header.dark .screen-mode span {
  background-color: #6e2d91;
}
header.dark .screen-mode:hover {
  background-color: #252525;
}
header.dark .screen-mode:active {
  background-color: #1e1e1e;
}
header.dark h1 {
  width: 67px;
  background-image: url("../../public/assets/darkLogo.webp");
  background-size: cover;
}
header.dark ul li {
  color: #1e1e1e;
}

aside {
  background-color: #e5e5e5;
  width: 300px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 64px;
}
aside li {
  font-size: 1.1rem;
  font-weight: 600;
  list-style: none;
  padding: 10px;
  margin-bottom: 10px;
}
aside li:hover {
  cursor: pointer;
  background-color: #f5f5f5;
  border-radius: 8px;
  text-decoration: underline;
}
aside.dark {
  background-color: #1e1e1e;
}
aside.dark li {
  color: #e5e5e5;
}
aside.dark li:hover {
  background-color: #252525;
}

main {
  margin-left: 300px;
  padding: 125px 100px 50px 100px;
  font-size: 1.1rem;
}
main section {
  margin-bottom: 75px;
}
main h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 25px;
}
main h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
main p {
  line-height: 1.6;
  margin-bottom: 1.25rem;
}
main ul {
  margin-left: 1.5rem;
  margin-bottom: 1.25rem;
}
main li {
  margin-bottom: 0.5rem;
}
main.dark {
  background-color: #252525;
  color: #e5e5e5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

#root {
  background-color: #f5f5f5;
}
#root.dark {
  background-color: #252525;
}

/*# sourceMappingURL=index.css.map */
