@import 'variables';
@import 'screen-mode';
@import 'menu-toggle';

aside {
    background-color: $light-secondary;
    width: 300px;
    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 64px;
    section {
        display: none;
        justify-content: space-between;
        margin-bottom: 20px;
        .screen-mode {
            background-color: $light-primary;
            &:hover {
                background-color: $light-primary;
            }
            span {
                background-color: $light-bg;
            }
        }
        .menu-toggle {
            display: flex;
            justify-content: center;
            border: .5px solid $dark-bg;
            span {
                &:first-child {
                    transform: translateY(.5px) rotate(45deg);
                }
                &:last-child {
                    transform: translateY(-.5px) rotate(-45deg);
                }
                width: 25px;
                background-color: $dark-bg;
            }
        }
    }
    nav {
        display: none;
        a {
            text-decoration: none;
            color: $dark-secondary;
        }
    }
    li {
        font-size: $desktop-text;
        font-weight: 600;
        list-style: none;
        padding: 10px;
        margin-bottom: 10px;
        &:hover {
            cursor: pointer;
            background-color: $light-bg;
            border-radius: 8px;
            text-decoration: underline;
        }
    }
}