@import 'variables';

aside {
    background-color: $light-secondary;
    width: 300px;
    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 64px;
    li {
        font-size: $desktop-text;
        font-weight: 600;
        list-style: none;
        padding: 10px;
        margin-bottom: 10px;
        &:hover {
            cursor: pointer;
            background-color: $light-bg;
            border-radius: 8px;
            text-decoration: underline;
        }
    }
    &.dark {
        background-color: $dark-secondary;
        li {
            color: $light-secondary;
            &:hover {
                background-color: $dark-bg;
            }
        }
    }
}