@import 'variables';
@import 'screen-mode';
@import 'menu-toggle';

aside {
    background-color: nth($secondary, 1);
    width: 300px;
    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 64px;
    section {
        display: none;
        justify-content: space-between;
        margin-bottom: 20px;
        .screen-mode {
            background-color: nth($primary, 1);
            &:hover {
                background-color: nth($primary, 1);
            }
            span {
                background-color: nth($bg, 1);
            }
        }
        .menu-toggle {
            display: flex;
            justify-content: center;
            border: .5px solid nth($bg, 2);
            span {
                &:first-child {
                    transform: translateY(.5px) rotate(45deg);
                }
                &:last-child {
                    transform: translateY(-.5px) rotate(-45deg);
                }
                width: 25px;
                background-color: nth($bg, 2);
            }
        }
    }
    nav {
        display: none;
        a {
            text-decoration: none;
            color: nth($secondary, 2);
        }
    }
    li {
        font-size: nth($text, 1);
        font-weight: 600;
        list-style: none;
        padding: 10px;
        margin-bottom: 10px;
        &:hover {
            cursor: pointer;
            background-color: nth($bg, 1);
            border-radius: 8px;
            text-decoration: underline;
        }
    }
}