@import 'variables';

#root.dark {
    header {
        background-color: nth($primary, 2);
        .screen-mode {
            background-color: nth($secondary, 2);
            span {
                background-color: nth($primary, 2);
                left: 55%;
            }
            &:hover {
                background-color: nth($bg, 2);
            }
            &:active {
                background-color: nth($secondary, 2);
            }
        }
        h1 {
            width: 67px;
            background-image: url('/darkLogo.webp');
            background-image: url('./darkLogo.webp');
            background-size: cover;
        }
        ul {
            li {
                color: nth($secondary, 2);
            }
        }
    }
    main {
        background-color: nth($bg, 2);
        color: nth($secondary, 1);
    }
    aside {
        background-color: nth($secondary, 2);
        nav ul li a {
            color: nth($bg, 1);
        }
        .screen-mode {
            background-color: nth($primary, 2);
            &:hover {
                background-color: nth($primary, 2);
            }
            span {
                background-color: nth($secondary, 2);
            }
        }
        li {
            color: nth($secondary, 1);
            &:hover {
                background-color: nth($bg, 2);
            }
        }
        .menu-toggle {
            border: .5px solid nth($bg, 1);
            span {
                background-color: nth($bg, 1);
            }
        }
    }
    footer {
        background-color: nth($primary, 2);
        color: nth($bg, 1);
        a {
            color: nth($bg, 1);
        }
    }
    .participante {
        background-color: nth($primary, 2);
        border: 1px solid nth($secondary, 1);
        .link-linkedin {
            background-image: url("/linkedinDark.webp");
        }
        .link-github {
            background-image: url("/githubDark.webp");
        }
    }
    .artigos .informacoes-artigo {
        color: nth($bg, 1);
    }
}