@import './variables';
@import './screen-mode';
@import './menu-toggle';

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: $light-primary;
    height: 64px;
    padding: 10px 20px;
    z-index: 1;
    transition: .5s;
    align-items: center;
    h1 {
        display: inline-block;
        background-image: url('./assets/lightLogo.webp');
        width: 65px;
        height: 50px;
        margin-left: 10rem;
        background-size: contain;
    }
    ul {
        display: flex;
        li {
            transition: .5s;
            margin-left: 10px;
            color: $light-bg;
            list-style: none;
            font-weight: 600;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
            a {
                text-decoration: none;
                color: $light-bg;
            }
        }
    }
}