@import 'variables';

@media(max-width: 768px) {
    header {
        z-index: 0;
        .screen-mode {
            display: none;
        }
        h1 {
            margin: 0;
        }
        ul {
            display: none;
        }
        .menu-toggle {
            display: flex;
        }
    }
    aside {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        section {
            display: flex;
        }
        nav {
            display: flex;
            margin: 10px 0;
            ul {
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: center;
            }
        }
    }
    main {
        margin: 0;
        padding: 100px 50px;
        font-size: nth($text, 2);
        section {
            margin-bottom: 50px;
        }
        h2 {
            font-size: nth($title, 2);
        }
        h3 {
            font-size: nth($subtitle, 2);
        }
    }
    footer {
        flex-direction: column;
        align-items: center;
        section {
            margin-bottom: 3rem;
        }
    }
    .code-part {
        border-radius: 15px;
        .code-header {
            height: 30px;
            padding: 10px 15px;
            .code-language {
                font-size: 0.85rem;
            }
            .fullscreen-button img {
                width: 20px;
            }
        }
        .code {
            padding: 15px;
        }
    }
}