.screen-mode {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: nth($bg, 1);
    width: 80px;
    height: 40px;
    border-radius: 50px;
    span {
        display: flex;
        background-color: nth($primary, 1);
        width: 30px;
        height: 30px;
        position: relative;
        border-radius: 50%;
        transition: .5s;
    }
    &:hover {
        cursor: pointer;
        background-color: nth($secondary, 1);
        span {
            scale: 1.05;
        }
    }
    &:active {
        background-color: nth($bg, 1);
    }
}