$light-bg: #f5f5f5;
$light-secondary: #e5e5e5;
$light-primary: #d0649c;
$dark-bg: #252525;
$dark-secondary: #1e1e1e;
$dark-primary: #6e2d91;
$desktop-text: 1.1rem;
$desktop-title: 2.5rem;
$desktop-subtitle: 2rem;
$mobile-text: 0.8rem;
$mobile-title: 1.8rem;
$mobile-subtitle: 1.5rem;